body{
    /*background-color:#E9967A;*/
background-image: linear-gradient(90deg, rgb(255, 106, 106) 25%, rgb(255, 170, 170) 100%);
background-image: -moz-linear-gradient(left, rgb(255, 106, 106) 25%, rgb(255, 170, 170) 100%);
background-image: -webkit-linear-gradient(left, rgb(255, 106, 106) 25%, rgb(255, 170, 170) 100%);
background-image: -o-linear-gradient(left, rgb(255, 106, 106) 25%, rgb(255, 170, 170) 100%);
background-image: -ms-linear-gradient(left, rgb(255, 106, 106) 25%, rgb(255, 170, 170) 100%);
	font-family: Tahoma; 
	color:black;

}

#contenu{

display:box;

}
 #inscription{
 
height:400px;
width:400px;
margin:50px;

 }
 #connexion{
 
height:200px;
width:200px;
margin:50px;

 }

.menuvertical{

float:left;
background-color:#9A653D;
margin:20px;

}

.images{

height:200px;
width:200px;

}

.imagesmodal{

height:400px;
width:400px;

}
a{
color:black;
}
a:hover{
color:pink;
background-color:#9A653D;
}
 .menuhorizontal
 {
	font-size:15px;
	color:white;
	background-color:#9A653D;

 }
 .fontcolor{
 color:white;
 
 }
 
 /*
.navbar-default .navbar-nav>li>a {
    color: #777;
}*/
/*

.imgmenu{
box-shadow: 8px 8px 12px black;
}
.menu{
  text-shadow: 8px 5px 15px #777;
  color: #FFDAB9;
  margin:10px;
  font-family: arial;
  font-size:50px;

}